
:root {
    --vh: 1vh;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
}

.animate__fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp
}

@-webkit-keyframes fadeOutDownBig {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,2000px,0);
        transform: translate3d(0,2000px,0)
    }
}

@keyframes fadeOutDownBig {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,2000px,0);
        transform: translate3d(0,2000px,0)
    }
}

.animate__fadeOutDownBig {
    -webkit-animation-name: fadeOutDownBig;
    animation-name: fadeOutDownBig
}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-2000px,0);
        transform: translate3d(0,-2000px,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-2000px,0);
        transform: translate3d(0,-2000px,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.animate__fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig
}

.header {
    position: fixed;
    left: 50%;   
    transform: translateX(-50%); 
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 115;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1320px;
    height: 96px;
    opacity: 1;
}

.header__logo {
    display: inline-flex;
    align-items: center;
    margin-top: 32px;
    text-decoration: none;
    transition: transform .2s ease;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    position: absolute; 
    left: 30px;
    top: 30px;
}

.header__logo:hover {
    opacity: .5;
    transition: opacity .3s ease-in-out
}

.header__logo:active {
    transform: scale(.9)
}

.header__logo img {
    width: 32px;
    height: 32px;
    margin-right: 4px
}

.header__logo p {
    font-family: "Zen Dots",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1px;
    text-align: left;
    color: #fff;
    margin: none;
}

.header__nav {
    animation-duration: .6s;
    background: linear-gradient(135deg,#38234e 0,#160a1e 100%);
    margin-top: 85px;
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 48px;
    gap: 8px;
    padding: 8px;
    border-radius: 24px;
    font-family: Manrope,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left
}

.header__nav .col2 {
    display: flex;
    justify-content: space-between
}

.header__nav .col2-item1 {
    grid-column: 2;
    grid-row: 1
}

.header__nav .col2-item2 {
    grid-column: 2;
    grid-row: 2
}

.header__nav .col2-item3 {
    grid-column: 2;
    grid-row: 3
}

.header__nav .col2-item4 {
    grid-column: 2;
    grid-row: 4
}

.header__nav .col1 {
    grid-column: 1
}

.header__nav-img {
    position: relative;
    text-decoration: none;
    width: 430px;
    height: 216px;
    grid-column: 3;
    grid-row: 1 / 4;
    border-radius: 16px;
    background: linear-gradient(90deg, #161923 0.02%, #0D1016 100%);
    border: 1px solid rgba(224, 224, 255, 0.08);
}

.header__nav-img::before{
    content: none !important
}


.header__nav-img p {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px
}

.header__nav-img__btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: end;
    padding: 6px 16px;
    text-decoration: none;
    z-index: 2;
    border-radius: 32px;
    background: linear-gradient(135deg, #FF005B 0%, #662D8C 100%);
    box-shadow: 0px 6px 12px -2px #662D8CCC,
        0px 4px 4px -1px #1B0A52,
        0px 1px 1px 0px #662D8CCC;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.header__nav-img__btn::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ffffff3d;
    border-radius: 32px;
    pointer-events: none;
}

/* .header__nav-img__btn::before{
    content: none !important;
} */

.header__nav-img__btn:hover {
    background: linear-gradient(135deg,#ff005b 0,#662d8c 100%);
    box-shadow: 0 12px 24px -2px rgba(102,45,140,.8),0 4px 4px -1px #1b0a52,0 1px 1px 0 rgba(102,45,140,.8);
    transform: translateY(-3px);
    transition: all .3s ease-in-out;
    color: #fff;
}

.header__nav-img__btn:active {
    background: linear-gradient(135deg,#ff005b 0,#662d8c 100%);
    box-shadow: 0 3px 6px -2px rgba(102,45,140,.8),0 4px 4px -1px #1b0a52,0 1px 1px 0 rgba(102,45,140,.8);
    transform: translateY(3px);
    color: #fff
}

.header__nav-img__btn:disabled {
    background: linear-gradient(135deg,#ff005b 0,#662d8c 100%);
    box-shadow: 0 0 12px -2px rgba(102,45,140,.8),0 0 4px -1px #1b0a52,0 0 1px 0 rgba(102,45,140,.8);
    color: rgba(255,255,255,.4);
    cursor: not-allowed
}

.header__nav-img__wrapper {
    padding: 20px;
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/header/header-img.png");
    background-size: cover;
    background-position: calc(50% + 25px) 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.header__nav-item {
    display: flex;
    align-items: center;
    justify-content: start;
    
    border-radius: 16px;
    background-color: rgba(224,224,255,.0392156863);
    padding: 0 16px;
    text-decoration: none;
    color: #fff;
    transition: opacity .3s ease-in-out
}

.header__nav-item p{
    margin-bottom: 0;
}

.header__nav-item:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    color: #fff;
}

.header__nav-item::before {
    content: none !important
}

.header__nav-item:hover {
    opacity: .5;
    transition: opacity .3s ease-in-out
}

.toggle-lang {
    color: #fff;
    font-family: Manrope,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-left: 16px;
    display: flex;
    width: 74px;
    cursor: pointer
}

.toggle-lang__wrapper {
    cursor: pointer;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 48px
}

.toggle-lang__mobile {
    display: none !important;
}

.toggle-lang__item {
    display: none
}

.toggle-lang__item-main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    height: 36px;
    border-radius: 36px;
    background-color: rgba(224,224,255,.0784313725);
    transition: all .3s ease-in-out;
}


.toggle-lang__item, .toggle-lang__item:hover{
    color: white;
}

.toggle-lang__item::before{
    content: none !important
}

.toggle-lang__item-main img {
    margin-left: 8px;
    width: 16px;
    height: 16px
}

.toggle-lang__item-main:hover {
    opacity: .5;
    transition: opacity .3s ease-in-out
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang {
    z-index: 3;
    overflow: hidden;
    position: absolute;
    top: -6px;
    right: 3px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    width: 74px;
    background-color: #251c34
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang .toggle-lang__item {
    display: flex;
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 11px;
    transition: background-color .3s ease-in-out
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang .toggle-lang__item:hover {
    background-color: rgba(255,255,255,.0588235294);
    transition: background-color .3s ease-in-out
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang .toggle-lang__item:nth-child(1):hover {
    border-radius: 12px 12px 0 0
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang .toggle-lang__item:nth-last-child(1):hover {
    border-radius: 0 0 12px 12px
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang .toggle-lang__item-main {
    padding: 12px 13px 12px 16px;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: #251c34
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang .toggle-lang__item-main:hover {
    opacity: 1;
    background-color: rgba(255,255,255,.0588235294);
    transition: opacity,background-color .3s ease-in-out
}

.toggle-lang__desktop .toggle-lang.active__toggle-lang img {
    transform: rotate(180deg)
}

.i-burger {
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center
}

.i-burger__wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 0;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background: rgba(224,224,255,.0784313725);
    transition: opacity .3s ease-in-out
}

.i-burger__wrapper:hover {
    cursor: pointer;
    opacity: .5;
    transition: opacity .3s ease-in-out
}

.i-burger span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 1.5px;
    border-radius: 100px;
    background-color: #fff;
    transition: all .3s;
    width: 13.5px
}

.i-burger span::after,.i-burger span::before {
    content: "";
    position: absolute;
    border-radius: 100px;
    right: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    transition: all .3s
}

.i-burger span::before {
    top: -4px
}

.i-burger span::after {
    top: 4px
}

.i-burger.clicked span {
    background-color: rgba(0,0,0,0)
}

.i-burger.clicked span::before {
    transform: translateY(4px) rotate(45deg)
}

.i-burger.clicked span::after {
    transform: translateY(-4px) rotate(-45deg)
}

.i-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh) * 100);
    background: rgba(9,13,20,.6392156863);
    z-index: 110;
    display: none;
    opacity: 0;
    transition: opacity .3s ease
}

.i-overlay.active {
    display: block;
    opacity: 1
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

@media(max-width: 1300px) {
    .header__nav {
        grid-template-columns:.4fr 1fr 1fr
    }
}

@media(max-width: 1024px) {
    .header__nav {
        grid-template-columns:.5fr 1fr 1fr
    }

    .header__nav-img {
        width: 344px
    }
}

@media (max-width: 992px){
    .header{
        width: calc(100vw - 60px);
    }
}

@media(max-width: 900px) {
    .header__nav {
        border-radius:24px;
        font-family: Manrope,sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px
    }

    .header__nav .col2 {
        gap: 12px;
        text-align: left;
        justify-content: start
    }
}

@media(max-width: 768px) {
    .i-burger__wrapper {
        z-index: 130;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        background: none;
    }

    .i-burger span {
        width: 16.2px;
        height: 1.65px;
    }

    .i-burger span::before,
    .i-burger span::after {
        content: "";
        width: 16.2px;
        height: 1.65px;
    }

    /* Состояние при клике */
    .i-burger.clicked span {
        background-color: transparent;
    }

    .i-burger.clicked span::before {
        transform: translateY(4px) rotate(45deg);
        width: 20.2px;
        height: 2.5px;
    }

    .i-burger.clicked span::after {
        transform: translateY(-4px) rotate(-45deg);
        width: 20.2px;
        height: 2.5px;
    }

    .menu-gradient {
        animation-duration: 0.778s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(var(--vh) * 100);
        background: linear-gradient(135deg, #38234E 0%, #160A1E 100%);
        z-index: 110;
        pointer-events: none;
        display: none;
    }

    .header {
        padding: 0;
        width: 100%;
        height: 48px;
        display:  flex;
        position: absolute;
        transform: none;
        overflow-y: visible;
        top: 0;
        left: 0;
        visibility: visible;
        opacity: 1;
        z-index: 120;
    }

    .header.active {
        height: 100vh;
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .header__nav {
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        height: calc((var(--vh) * 100) - 48px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        touch-action: pan-y;
        margin-top: 0;
        padding: 0 0 12px 0;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 0px;
        z-index: 120;
        background: none;
        gap: 0;
        
    }
    .header__nav .offset {
        grid-column: 1;
        grid-row: 13;
        display: block;
        height: 76px;
    }

    .header__nav .col2 {
        display: flex;
        justify-content: space-between
    }

    .header__nav .col2-item1 {
        grid-column: 1;
        grid-row: 5
    }

    .header__nav .col2-item2 {
        grid-column: 1;
        grid-row: 6
    }

    .header__nav .col2-item3 {
        grid-column: 1;
        grid-row: 7
    }

    .header__nav .col2-item4 {
        grid-column: 1;
        grid-row: 8
    }

    .header__nav .col1 {
        grid-column: 1
    }

    .header__nav-img {
        min-width: 360px;
        max-width: 404px;
        width: auto;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 10 / 14;
        border-radius: 16px;
        max-width: 100%;
        height: auto;
        top: 16px;
    }

    .header__nav-item {
        cursor: pointer;
        font-family: Manrope,sans-serif;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 48px;
        margin: 0;

        border-radius: 0;
        background-color: transparent;
        border-bottom: 1px solid #FFFFFF1F;   
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
    }

    .header__logo {
        margin: 24px 0 24px 24px;
        z-index: 20;
        position: relative
    }

    .toggle-lang__desktop {
        display: none !important;
    }

    .toggle-lang__mobile {
        display: flex !important;
    }

    .toggle-lang__mobile .toggle-lang {
        animation-duration: .778s;
        display: block;
        height: 48px;
        width: 100%
    }

    .toggle-lang__mobile.toggle-lang__wrapper {
        position: absolute;
        width: 100%;
        z-index: 130;
        top: 392px;
        right: 8px;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
    }

    .toggle-lang__mobile .toggle-lang__item {
        margin: 0
    }

    .toggle-lang__mobile .toggle-lang__item-main {
        width: 100%;
        height: 48px;
        padding: 0 12px 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        border-radius: 16px;
        background-color: rgba(224,224,255,.0392156863)
    }

    .toggle-lang__mobile .toggle-lang__item-main img {
        margin: 0;
        width: 24px;
        height: 24px
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang {
        z-index: 3;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 12px;
        width: calc(100% - 16px);
        height: auto;
        background-color: #251c34;
        box-shadow: 0 20px 20px 0 rgba(20,16,41,.774)
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang .toggle-lang__item {
        display: flex;
        padding-left: 16px;
        padding-top: 7px;
        padding-bottom: 11px;
        transition: background-color .3s ease-in-out
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang .toggle-lang__item:hover {
        background-color: rgba(255,255,255,.0588235294);
        transition: background-color .3s ease-in-out
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang .toggle-lang__item:nth-child(1):hover {
        border-radius: 12px 12px 0 0
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang .toggle-lang__item:nth-last-child(1):hover {
        border-radius: 0 0 12px 12px
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang .toggle-lang__item-main {
        padding: 12px 12px 12px 16px;
        display: inline-flex;
        width: auto;
        height: auto;
        border-radius: 0;
        background-color: #251c34
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang .toggle-lang__item-main:hover {
        opacity: 1;
        background-color: rgba(255,255,255,.0588235294);
        transition: opacity,background-color .3s ease-in-out
    }

    .toggle-lang__mobile .toggle-lang.active__toggle-lang img {
        transform: rotate(180deg)
    }
}


@media (min-width: 992px){
    #man-2.glitch.is-used, #man-2.glitch.is-active{
        cursor: pointer;
    }
}

.swiper-slide .section-title a,
.swiper-slide .section-subtitle a{
    color: inherit;
}


.swiper-slide .section-title a::before,
.swiper-slide .section-subtitle a::before{
    content: none;
}