.guarantee {
    padding: 112px 0;
    background-color: #fff;
    
    &__title {
        margin-left: calc((100% - 424px * 3 - 48px) / 2);
        font-family: 'DrukWideCyr-Super', sans-serif;
        font-size: 30px;
        font-weight: 1000;
        line-height: 36px;
        letter-spacing: -1px;
        margin-bottom: 24px;
        color: #000;
    }

    &__container {
        
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 424px);
        gap: 24px;
        width: 100%;
    }

    &__item {
        padding: 20px 23px 20px 23px;
        margin-bottom: 24px;
        font-family: "Manrope", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 24.59px;
        letter-spacing: -0.6px;
        text-align: left;
        color: #000;
        border: 1px solid #090D14;
        position: relative; 
        z-index: 0;
        &:hover {
            transition: after 0.3s ease-in-out;
            &::before {
                content: "";
                position: absolute;
                left: -2px;
                top: -2px;
                border: 2px solid #090D14;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease-in-out;
                z-index: -1;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -8px;
            left: -2px;
            width: calc(100% + 4px);
            height: 8px;
            background-color: #ABE087;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out; 
        }

        &:hover::after {
            transform: scaleX(1); 
        }
        
    }

    &__button {
        display: none;
    }

    &__link-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3 ease-in-out;
        color: #000000;
        text-decoration: none;
        &:hover {
            transition: all 0.3 ease-in-out;
            opacity: 0.5;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #0000FF;
        text-decoration: underline;
        
    }
    &__text {
        margin-top: 108px;
        margin-left: auto;
        margin-right: calc((100% - 424px * 3 - 48px) / 2);
        width: 750px;
        height: auto;
        white-space: nowrap;
	    overflow: hidden;
        font-family: "Manrope", sans-serif;
        // font-family: monospace, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -3px;
        text-align: left;
        p {
            display: flex;
            justify-content: end;
            
        }
        &-min{
            display: none;
            font-family: "Manrope", sans-serif;
            white-space: nowrap;
	        overflow: hidden;
            width: 312px;
            margin: 48px auto 0;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -1px;
            text-align: left;
        }
    }

}
  
.type {
    color:#0000;
    background:
        linear-gradient(-90deg,#000000 5px,#0000 0) 10px 0,
        linear-gradient(#000000 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
        b .7s infinite steps(1),   
        t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

@keyframes t{
    from {background-size:0 200%}
}
@keyframes b{
    50% {background-position:0 -100%,0 0}
}
