.backstages {
    padding: 112px 0;
    &__title {
        font-family: 'DrukWideCyr-Super', sans-serif;
        font-size: 30px;
        font-weight: 1000;
        line-height: 36px;
        letter-spacing: -1px;
        text-align: center;
        margin-bottom: 24px;

    }

    span {
        display: block;
        width: 1024px;
        height: 16px;
        background-color: #000;
        border: none;
        
    }

    &__slider {
        max-width: 1024px;
        min-height: 562px;
        position: relative;   
        margin: 0 auto;   
        background-color:rgba(9, 13, 20, 1); 
    }

    &__slide {
        max-height: 540px;
        iframe {
            pointer-events: none;
            width:1024px; 
            height:548px; 
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bottom {
    margin-bottom: 25px;
}

.backstages__slider .swiper-pagination {
    position: absolute;
    top: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-bullet {
        margin: 0px 0px !important;
        width: 324px;
        height: 1px;
        border-radius:0%;
        border: 3px solid rgba(20, 16, 41, 0.24);
        &-active {
            width: 324px;
            height: 1px;
            border: 3px solid rgba(9, 13, 20, 1)

        }
    }
}

