.areas-work {
    display: flex;
    flex-direction: column;
    padding: 112px 0 128px 0;
    background-color: #fff;

    &__title {
        margin-left: calc((100% - 424px * 3 - 48px) / 2);
        font-family: 'DrukWideCyr-Super', sans-serif;
        font-size: 30px;
        font-weight: 1000;
        line-height: 36px;
        letter-spacing: -1px;
        text-align: left;
        margin-bottom: 24px;
        color: #000;
    }

    &__container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 424px);
        gap: 24px;
        width: 100%;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items:start;
        min-height: 65px;
        padding: 20px 24px;
        margin-bottom: 24px;
        font-family: "Manrope", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 24.59px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
        color: #000;
        border: 1px solid #090D14;
        &:nth-of-type(1) {
            animation-delay: 0.1s;
        }
        &:nth-of-type(2) {
            animation-delay: 0.2s;
        }
        &:nth-of-type(3) {
            animation-delay: 0.3s;
        }
        &:nth-of-type(4) {
            animation-delay: 0.4s;
        }
        &:nth-of-type(5) {
            animation-delay: 0.5s;
        }
        &:nth-of-type(6) {
            animation-delay: 0.6s;
        }
        &:nth-of-type(7) {
            animation-delay: 0.7s;
        }
        &:nth-of-type(8) {
            animation-delay: 0.8s;
        }
        img {
            width: 18px;
            height: 18px;
        }
        &:hover {
            transition: after 0.3s ease-in-out;
            &::before {
                content: "";
                position: absolute;
                left: -2px;
                top: -2px;
                border: 2px solid #090D14;
                width: 100%;
                height: 100%;
                transition: border 0.3s ease-in-out;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -8px;
            left: -2px;
            width: calc(100% + 4px);
            height: 8px;
            background-color: #ABE087;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out; 
        }

        &:hover::after {
            transform: scaleX(1); 
        }
        &-button {
            width: 100%;
            padding: 20px 24px 20px 24px;
            color: #0000FF;
            position: relative;
            display: flex;
            // flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color:#fff;
            cursor: pointer;
            &:active {
                transform: scale(0.95);
                background-color: #e0e0e0;
            }
            &:hover {
                transition: all 0.3s ease-in-out;
                color: #000000;
                background-color: #e0e0e0;
            }

        }
    }
    &__hide-768px {
        display: block;
    }
}

.see-more {
    .areas-work__item  {
        display: none;
        transition: all 0.7s ease-in-out;
    }
    &-768 {
        .areas-work__item  {
            display: none;
            transition: all 0.7s ease-in-out;
        }
    }
}

.divider1px {
    margin: 0 auto;
    border: 1px solid rgba(9, 13, 20, 1);
    width: 1319.5px;
}


.areas-work__item {
    transition: all 0.7s ease-in-out;
}