@media (max-width: 1200px) {
    .clients {
        &__list {
            width: 100%;
            padding: 0 100px;
        }
    
        &__item {
            width: 150px;
            text-align: center;
        }
        &__logo {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .clients {
        padding: 32px 0;
        overflow: hidden;
        &__title {
            font-size: 20px;
            font-weight: 1000;
            line-height: 24px;
            letter-spacing: -0.4000000059604645px;
            text-align: center;

        }
        &__list {
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            padding: 0 24px;
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }
    
        &__item {
            // flex: 0 0 auto;
            width: 200px;
            text-align: center;
            display: inline-block;
            margin-right: 24px;
            user-select: none;
        }
    
        &__logo {
            width: 100%;
            max-height: 192px;
            pointer-events: none;
        }

        
    }

    .clients__list::-webkit-scrollbar {
        display: none;
    }
}
