@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@font-face {
	font-family: 'Zen Dots';
	font-display: swap;
	src: url('../fonts/ZenDots-Regular.ttf') format('truetype'),
}
@font-face {
	font-family: 'DrukWideCyr-Super';
	font-display: swap;
	src: url('../fonts/drukwidecyr-super.eot');
	src: url('../fonts/drukwidecyr-super.eot?#iefix') format('embedded-opentype'),
		url('../fonts/drukwidecyr-super.woff2') format('woff2'),
		url('../fonts/drukwidecyr-super.woff') format('woff'),
		url('../fonts/drukwidecyr-super.ttf') format('truetype'),
		url('../fonts/drukwidecyr-super.svg#drukwidecyr-super') format('svg');
}

@import './libs/animate.min.css';
@import './base/_base.scss';
@import './libs/animation.scss';
@import './libs/swiper-bundle.min.css';

@import './blocks/header/header.scss';
@import './blocks/hero/hero.scss';
@import './blocks/showreel/showreel.scss';
@import './blocks/topProjects/topProjects.scss';
@import './blocks/guarantee/guarantee.scss';
@import './blocks/slider/slider.scss';
@import './blocks/move-it/move-it.scss';
@import './blocks/move-it-mobile/move-it-mobile.scss';
@import './blocks/portfolio/portfolio.scss';
@import './blocks/team/team.scss';
@import './blocks/reviews/reviews.scss';
@import './blocks/clients/clients.scss';
@import './blocks/crypto-pioneer/crypto-pioneer.scss';
@import './blocks/roobinium/roobinium.scss';
@import './blocks/feedback/feedback.scss';
@import './blocks/nfts/nfts.scss';
@import './blocks/technologies/technologies.scss';
@import './blocks/offer/offer.scss';
@import './blocks/autograph/autograph.scss';
@import './blocks/footer/footer.scss';


@import './_media.scss';