@media (max-width: 1679px) {
    .creative-space{
        &__container {
        width: 100%; 
        height: 100%;
        overflow-x: hidden; 
        }
        &__slide {
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 620px;;
            video {
                width: 100%;
                height: 100%;
                transition: transform 0.3s ease;
            }
        }
        .swiper-slide-active {
            padding-top: 0;
            height: 640px;
            transition: all 0.3s ease-in-out;
        }
    }

    .sound-toggle {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 16px;
        right: 16px;
        border-radius: 24px;
        cursor: pointer;
        transition: background 0.3s ease;
    
    
    }
}

@media (max-width: 768px)  {
    .creative-space {
        padding: 32px 0 32px;
        &__container {
            width: 430px; 
            height: auto;
            overflow-x: hidden;
        }
        &__slide {
            padding-top: 0;
            max-height: 371px;
            max-width: 308px;
            video {
                width: 100%;
                height: 90%;
                transition: transform 0.3s ease;
                object-fit: cover;
            }
            
        }
        .swiper-slide-active {
            height: 100%;
            padding: 0;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media (max-width: 431px) {

    .creative-space {
        padding: 32px 0 32px;
        background: #090D14;
    
        &__title {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.4000000059604645px;
            text-align: center;
            margin: 0 auto 32px auto;

        }
        &--verified {
            display: none;
        }
        &__container {
            width: 360px; 
            height: auto;
            overflow-x: hidden;
        }
        &__slide {
            padding-top: 0;
            max-height: 371px;
            max-width: 238px;
            video {
                width: 100%;
                height: 90%;
                transition: transform 0.3s ease;
                object-fit: cover;
            }
            
        }
        &__instagram  {
            margin-top: 24px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;

        }
        .swiper-slide-active {
            height: 100%;
            padding: 0;
            transition: all 0.3s ease-in-out;
        }
    }


}