.team {
    text-align: center;
    background: rgba(10, 13, 19, 1);
    margin: 0;
    padding: 0;
    &__title {
        position: relative;
        font-family: "Zen Dots", sans-serif;
        margin-bottom: 24px;
        font-size: 40px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -2px;
        text-align: left;
        color: #fff;
    }

    &__container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 112px 0;
        background-color: #0A0D13;
    }


    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 312px);
        gap: 24px;
    }
    &__big-photo {
        display: block;
        width: 100%;
        height: 880px;
        grid-column: 1 / -1;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
}

.team-card {
    background-color: rgba(10, 13, 19, 1);;
    font-family: 'Manrope', sans-serif;
    padding: 12px;
    text-align: left;
    color: #fff;
    width: 312px;
    height: 447px;
    border: 2px solid rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;

    &__image {
        display: block;
        width: 288px;
        height: auto;
        margin-bottom: 24px;
        img {
            display: block;
            width: 100%;
        }
    }
    
    &__nick {
        margin-left: 12px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.4000000059604645px;
        text-align: left;

    }
    
    &__name {
        margin-bottom: 16px;
        margin-left: 12px;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.800000011920929px;
        text-align: left;

    }

    &__link {
        margin-left: 12px;
        text-decoration: none;
    }
    &__social {
        color:#0A0D13;
        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
        transition: opacity 0.3s ease-in-out;
        &:hover {
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;
        }
    }
    &:nth-child(2) {
        animation-delay: .1s;
    }
    &:nth-child(3) {
        animation-delay: .2s;
    }
    &:nth-child(4) {
        animation-delay: .3s;
    }
    &:nth-child(6) {
        animation-delay: .1s;
    }
    &:nth-child(7) {
        animation-delay: .2s;
    }
    &:nth-child(8) {
        animation-delay: .3s;
    }
}
