.gallery {
    margin: 16px 0 12px;
    height: 100%;
    padding: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    // cursor: grab;
    &__photo {
        margin: 0 -2px 0 -2px;
        height: 934px;
        object-fit: cover;
        text-align: center;
        display: inline-block;
        user-select: none;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__container {
        display: flex;
        overflow: hidden;
        width: calc(210%); 
        animation-delay: 0.5s;
    }
}

.gallery {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.gallery::-webkit-scrollbar {
    display: none;
}
