@media (max-width: 1400px) {
    .trial-week  {
        &__container {
            grid-template-columns: repeat(3, 320px);
            gap: 20px;
        }
    }
    .divider1px {
        width: 1020px;
    }
    
}

@media (max-width: 1024px) {
    .trial-week  {
        &__container {
            grid-template-columns: repeat(1, 644px);
            gap: 0px;
        }
    }
    .divider1px {
        width: 644px;
    }
    
}

@media (max-width: 768px) {
    .trial-week {
        padding: 32px 0 28px 0;
        &__title {
            font-size: 20px;
            font-weight: 1000;
            line-height: 24px;
            letter-spacing: -0.4000000059604645px;
            text-align: left;
            margin-left: 24px;
            margin-bottom:32px;
            color: #000;
        }
        
        &__container {
            grid-template-columns: repeat(1, 344px);
            gap: 0px;
        }

        &__item {
            padding: 24px 24px;
            margin-bottom: 4px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.4000000059604645px;
            text-align: left;

        }
    }

    .divider1px {
        width: 344px;
    }
    
}