@media (max-width: 1200px) {
    .employment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__container {
            margin: 0;
            width: 630px;
            display: flex;
            justify-content:flex-end;
            // align-items: center;
            flex-direction: column;
        }
        &__title {
            // display:inline-flex;
            font-family: 'DrukWideCyr-Super' , sans-serif;
            font-size: 30px;
            font-weight: 1000;
            line-height: 36px;
            letter-spacing: -1px;
            text-align:left;
            margin: 0 auto 32px;
            
    
        }

        &__projects-info {
            margin: 0 auto;
        }
      
        &__social-links {
            margin: 0 auto;
        }
    }
}

@media (max-width: 768px) {
    .employment {
        padding: 32px 0;
        &__container {
            position: relative;
            width: 296px;
        }
        &__title {
            width: 296px;
            font-size: 20px;
            font-weight: 1000;
            line-height: 24px;
            letter-spacing: -0.4000000059604645px;
            text-align: left;
            margin: 0 auto 32px;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items:start;
            p {
                display: inline-block;
                vertical-align: bottom;
            }
        
            .employment__linkedin-icon {
                display: inline-block;
                vertical-align: bottom;
                margin-left: 0px;
            }

        }
        &__linkedin-icon {
            margin-left: 0px;
            width: 24px;
            height: 24px;
            
        }
        &__job {
            margin-bottom: 32px;
            
    
            &-icon {
                position: absolute;
                margin-right: 0px;
                margin-top: 0px;
                top: 0px;
                // right: 0px;
                left: 248px;
                width: 48px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
    
            &-title {
                font-size: 16px;
                font-weight: 1000;
                line-height: 24px;
                letter-spacing: -0.4000000059604645px;
                text-align: left;
                
            }
    
            &-period{
                margin-top: 8px;
                font-size: 16px;
                font-weight: 800;
                line-height: 24px;
                letter-spacing: -0.6000000238418579px;
                text-align: left;

            }
    
            &-position {
                margin-bottom: 12px;
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;
                letter-spacing: -1px;
                text-align: left;

            }
    
            &-link {
                margin-left: 0;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.6000000238418579px;
                text-align: left;
                &-second {
                    &::after {
                        content: 'Decimal (DEL) DPoS blockchain';
                    } 
                    p {
                        display: none;
                    }
                }
                &-third {
                    &::after {
                        content: 'NextGen Web3 Play-to-Earn';
                    } 
                    p {
                        display: none;
                    }
                }
                &-fourth {
                    &::after {
                        content: 'Supra Oracles cross-chain';
                    } 
                    p {
                        display: none;
                    }
                }
                
            }
    
            &::before {
                content: '';

    
            }
            &:not(:last-child)::after {
                content: '';
                position: absolute;
                left: 272px;
                top: 64px;
                width: 1px;
                height: 68px;
            }
        }
        &__projects-info {
            font-size: 18px;
            font-weight: 800;
            line-height: 24px;
            letter-spacing: -0.6000000238418579px;
            text-align: left;
            width: 249px;
            margin-left: calc((100% - 296px) / 2);
        }
      
        &__social-links {
            margin-left: calc((100% - 296px) / 2);
            img {
                width: 32px;
                height: 32px;
                margin-top: 16px;
                margin-right: 16px;
            }
        }

        
    }

    .ml29{
        width: 77px;
        margin-left: -15px;
        margin-right: 0px;
    }
}