@media (max-width: 768px) {
    .ticker  {
        height: 64px;

        &__item {
            display:inline-flex;
            padding: 12px 16px;
            height: 56px;
            background-color: #000; 
            border-radius: 68px;
            border: 2px solid rgba(255, 255, 255, 1);
            margin-right: 12px;
           
            &_text{
                height: 32px;
                display: inline-block;
                font-size: 33px;
                font-weight: 800;
                line-height: 32px;
                letter-spacing: -2px;
                text-align: left;
                
    
            }
            &_img {
                width: 32px;
                height: 32px;
                display: inline-block;
                margin-right: 16px;
            }
        
        }
    }
}