@font-face {
	font-family: 'Zen Dots';
	font-display: swap;
	src: url('../fonts/ZenDots-Regular.ttf') format('truetype'),
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@font-face {
	font-family: 'DrukWideCyr-Super';
	font-display: swap;
	src: url('../fonts/drukwidecyr-super.eot');
	src: url('../fonts/drukwidecyr-super.eot?#iefix') format('embedded-opentype'),
		url('../fonts/drukwidecyr-super.woff2') format('woff2'),
		url('../fonts/drukwidecyr-super.woff') format('woff'),
		url('../fonts/drukwidecyr-super.ttf') format('truetype'),
		url('../fonts/drukwidecyr-super.svg#drukwidecyr-super') format('svg');
}

@import './libs/animate.min.css';
@import './base/_base.scss';
@import './libs/glich/demo3.css';
@import './libs/animation.scss';
@import './libs/swiper-bundle.min.css';

@import './blocks/header/header.scss';
@import './blocks/hero/hero.scss';

@import './blocks/header/_media_header';
@import './blocks/hero/_media_hero';