@media (max-width: 1350px) {
    .clients {
        &__list {
            width: 100%;
            padding: 0 100px;
        }
    
        &__item {
            width: 150px;
            text-align: center;
        }
        &__logo {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .clients {
       display: none;  
    }
}
