@media (max-width: 768px) {
    .header {
        width: 100%;
        height: 80px;
        display: block;
        position:absolute;
        top: 0;
        left: 0;
        transition: all 0.3s;
        visibility: visible;
        opacity: 1;
        left: 0;
        z-index: 20;
        &__nav{
            display: none;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 280px;
            flex-direction: column;
            margin: 0;
            &-item {
                cursor: pointer;
                font-family: "Manrope", sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: start;
                width: 100%;
                height: 48px;
                margin: 0;
                border: 1px solid #E0E0FF0F;
                &:hover {
                    opacity: 0.5;
                    transition: opacity 0.3s ease-in-out;
                }
                a {
                    width: 100%;
                    height: 100%;
                    margin-top: 24px;
                    margin-left: 32px;
                    color: white;
                    text-decoration: none;
                }
                &:nth-last-child(1) {
                    border: 0px;
                    // height: 88px;
                    // &:hover {
                    //     opacity: 1;
                    // }
                }
                // &__toggle-lang {
                //     display: flex;
                //     height: 48px;
                //     width: 100%;
                //     border-radius: 2rem;
                //     background-color: #E0E0FF0F;
                //     margin: 20px 32px;
                //     .toggle-lang__item {
                //         margin: 0;
                //         &-main {
                //             width: 100%;
                //             padding: 12px 20.86px 12px 20px;
                //             &:hover {
                //                 opacity: 1;
                //                 background-color: #342a43;
                //                 border-radius: 1.5rem;
                //             }   
                //         }
                         
                //     }  
                //     &:hover {
                //         opacity: 1;
                //     }  
                              
                // }
                &:nth-last-child(1) {
                    margin-left: 0px;
                } 
            }
            
        }
        
        &__logo {
            margin: 24px 0 24px 24px;
            z-index: 20;
            position: relative;
        }
    }
    
    .burger {
        display: flex;
    }
    // .header__nav-item__toggle-lang.active__toggle-lang {
    //     margin: 110px 32px 20px 32px;
    //     border-radius: 1.5rem;
    //     width: 100%;
    //     height: 138px;
    //     .toggle-lang__item {
    //         display: flex;
    //         padding-left: 20px;
    //         padding-top: 7px;
    //         padding-bottom: 11px;
    //         &-main {
    //             padding: 12px 12px 12px 20px;
    //             display: inline-flex;
    //         }
    //         &:nth-last-child(1) {
    //             padding: 12px 12px 12px 20px;
    //             &:hover {
    //                 border-radius: 2rem;
    //                 background: #FFFFFF0F;
    //             }
    //         }
            
    //         &:nth-child(1) {
    //             &:hover {
    //                 border-radius: 2rem;
    //                 background: #FFFFFF0F;
    //             }
    //         }
    //         &:hover {
    //             background: #FFFFFF0F;
    //         }
    //     }
    //     img {
    //         transform: rotate(180deg);
    //     }
    // }
}